*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(picture.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


