@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru|Lato|Pacifico");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

header {
  height: auto;
}

footer {
  background-color: lightgray;
  color: white;
  height: 9vh;
  font-size: 1.75vh;
  bottom: 0%;
  width: 100%;
}

footer a {
  color: #c8102e;
  font-family: "Pacifico", "cursive";
}

h1 {
  color: #041e42;
  text-align: center;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 5vh;
}

hr {
  width: 80%;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  border: 0 none;
}
.womcom-title {
  border-bottom: 1px #c8102e;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-top: 1.5vh;
}

.title {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: block;
}

h2 {
  font-family: "Kosugi Maru", sans-serif;
  color: #c8102e;
}

.pageContent {
  height: 150vh;
  text-align: center;
  color: #041e42;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: block;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: #041e42;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5vh;
}

li a:hover {
  color: #c8102e;
}

button {
  background-color: #c8102e;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}

.center-children-verticaly {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  padding-top: 10vh;
  margin-bottom: 5vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(picture.jpg);
  height: 45vh;
  background-size: cover;
  background-position: center;
}

.content {
  color: white;
  display: inline-block;
}

.break {
  height: 25vh;
}

input[type="text"] {
  background-color: none;
  width: 20%;
  padding: 8px 10px;
  margin: 8px 0;
  border: 2px solid #be717e;
  border-radius: 4px;
}

input[type="text"]:focus {
  border: 3px solid #c8102e;
  outline: none;
}

input[type="submit"] {
  background-color: #c8102e;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  font-weight: bold;
}

.column p {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1.5vw;
}

.column a {
  text-decoration: none;
  color: #c8102e;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding-top: 2.5vh;
}

/*for mobile devices */
@media only screen and (max-width: 980px) {
  header {
    height: auto;
  }

  h1 {
    font-size: 4vh;
  }

  .womcom-title {
    margin-top: 2vh;
  }

  h2 {
    font-size: 3.5vh;
  }

  li a {
    display: block;
    color: #c8102e;
  }

  .logo {
    width: 25%;
  }

  .content {
    font-size: 2.5vh;
  }

  .column {
    width: 100%;
  }
}
